<!doctype html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type= "text/css" href="../static/css/styles.css" />

</head>
<body>
	<div class="form-container">
		<p class="form-header">Login</p>
		<form method="POST">
			<label>Username:</label>
			<input type="text" name="username" placeholder="Enter username"><br>
			<label>Password:</label>
			<input type="password" name="password" placeholder="Enter Password"><br>
			<input type="submit" value="Login">
		</form>
	</div><hr>
	<a href="/signup">Sign Up</a>
	<hr><%= msg %>
</body>
</html>
